*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mulish', sans-serif;
    
    
}



/***** ALL FONTS **********/

/* font-family: 'Montserrat', sans-serif;
font-family: 'Mulish', sans-serif; */

/*************************************************************/
/************************ MOBILE *****************************/
/*************************************************************/

h1,h2,h6{
    
    font-weight: 400;
    color: #754cf0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
}  
h1{
    margin: 15px;
    font-weight: 400;
    background-color:transparent;
    color: black;
}
h6{
    color: #7763aa;
    padding-top: 5px;
}
h2{
    
    margin-top: 15px;
    font-family: 'Mulish', sans-serif;
    font-weight:600;
}
h3{
    color: rgb(117,76,240,1);
    font-size: 15px;
    padding-top: 5px;
}
hr{
    opacity: 0.3;
    border-style:none;
    color: rgba(117,76,240);
    height: 0.5px;

    margin-top: 5px;
}

p{
    color:#754cf0;
    font-size: 18px;
    text-align: center;
}
button:hover{
    cursor: pointer ;
    opacity: 0.6;
    transition: 0.3s;
}
a:hover{
    cursor: pointer ;
    opacity: 0.6;
    transition: 0.3s;
}
header {
    background-color: #754cf0;
    
    /* background-color: lightgrey; */
    
}
.header_items{
    display: flex;
}

.header_items div:first-child{
    width: 70%;
    
}
.header_items div:nth-child(2){
    width: 30%;
    
  
}

aside{
    border-top: 1px solid black;
    position:absolute;
    width: 0px;
    height:calc(100% - 115px);
    background: white;
    overflow: hidden;
    padding: 0px;
    background: white;
    -webkit-box-shadow: 0px 0px 17px -3px rgba(117,76,240,1);
    -moz-box-shadow: 0px 0px 17px -3px rgba(117,76,240,1);
    box-shadow: 0px 0px 17px -3px rgba(117,76,240,1);
    z-index: 1000;
    
    
}
.asideOpener{
    width: 80px;
    height: 80px;
    margin: auto;
    padding: 10px;
   
    
}
#menu_icon{
    width: 80px;
    margin:15px 20px;
    opacity: 0.5;
    
    


}
#log_out{
    color:black;
    padding: 20px;
    border: 1px solid black;
    float:right;

     margin: 25px;
    
    /* display: inline-block; */

}




.title{

    overflow:hidden;

}
.form_wrapper{
    
    margin:25px auto 20px;
    width: 70%;
}

.form_wrapper button{
    margin:  20px auto;
    
}

input, select{
    border: 0.5px solid#754cf0;
    border-radius: 5px;
    background: transparent;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    -moz-box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    color: #7763aa;
}
input:focus{

    background: #252423;
    color: #7763aa;

}
.input_field_wrapper{
    width:100%;
    margin: auto;
}
label{
    text-align: left;
    color:#754cf0;;
    padding: 10px 0;
    margin: 10px 0;
}
.btn{
    background: #754cf0;;
    border: 1px solid#754cf0;
    border-radius: 20px;
    width: 100%;
    padding: 5px 5px;

    color:white;
    -webkit-box-shadow: 0px 0px 17px -3px rgba(117,76,240,1);
    -moz-box-shadow: 0px 0px 17px -3px rgba(117,76,240,1);
    box-shadow: 0px 0px 17px -3px rgba(117,76,240,1);



}

footer{
    background-color: #754cf0;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
}
footer p {
    
    color: #b8b6bd;
    width: 100%;
    margin: auto;
}
#pop_up{
    position: absolute;
    width: 90%;
    height: auto;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    background: white;
    -webkit-box-shadow: 0px 0px 17px -3px rgba(117,76,240,1);
    -moz-box-shadow: 0px 0px 17px -3px rgba(117,76,240,1);
    box-shadow: 0px 0px 17px -3px rgba(117,76,240,1);
    display: none;
    
    

}
#slide_down{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width:80%;
    top: -200px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    -moz-box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    display: inline-flex;
    background-color: white;
    padding: 20px;
    opacity: 0;
}
#slide_down_button_wrapper{
    margin:auto;
    border: 0.5px solid#754cf0;
    border-radius: 5px;
    padding: 50px;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    -moz-box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    
}
#slide_down_button_wrapper button{
    margin: 0 10px;
}
/* #pop_up_titulek{
    display: flex;
} */
#pop_up_titulek div{
    border-bottom: 1px solid rgba(117,76,240,0.5);
    padding-bottom: 10px;
}
#pop_up_titulek{
    text-align: center;
}
#pop_up_titulek img, #closeAside{
    /* position:relative; */
    /* left: 270px;
    bottom:60px; */
    width: 30px;
    margin-top: 15px;
    opacity: 0.7;
    
    
}


.error{
    color: #b92bf1; 
}
.polygon{
    width: 90%;
    margin: auto;
}


/************ PRINCIPAL ******************/

.menu_grid{
    display: grid;
    grid-template-columns: 45% 45%;
    /* column-gap: 15px; */
    row-gap: 25px;
    margin: 30px auto ;
    
    justify-content: center;
    justify-items: center;
}
.menu_grid img{
    opacity:0.7;
}
.menu_grid_item{
    width: 80%;
    border:4px solid white;
    padding: 10px;
    background-color: rgb(240, 239, 239);
    -webkit-box-shadow: 0px 0px 20px -3px rgba(0, 0, 0,1);
    -moz-box-shadow: 0px 0px 20px -3px rgba(0, 0, 0,1);
    box-shadow: 0px 0px 20px -3px rgb(0, 0, 0);
    border-radius: 9px;
}
.menu_grid_item:hover{
    border: 8px solid #754cf0;
}


.container_principal{
    /* background-color: lightgrey; */
    /* background-color: lightgrey; */
    padding:30px 0;
    border-top: 1px solid rgb(8, 8, 8);
    min-height: 600px;
    /* -webkit-box-shadow: 0px -10px 23px 0px rgba(151, 150, 150,1);
-moz-box-shadow: 0px -10px 23px 0px rgba(151, 150, 150,1);
box-shadow: 0px -10px 23px 0px rgb(151, 150, 150); */

}




/************ USERS ******************/
table {
    
    border-collapse: collapse;
    margin: 50px auto;
    border-radius:4px;
    border:0px solid white;
    width: 95%;
    /* padding: 10px; */
    /* background-color: rgb(240, 239, 239); */
    -webkit-box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    -moz-box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    
    
}

th, td{
    padding: 5px 1px;
    font-size: 12px;
    text-align:center;
}

th{
    
    /* border-bottom:3px solid white; */
    background-color:rgba(117,76,240,1);
    border:none;
    
    
}
td{
    /* border-bottom:1px solid white; */
    /* background-color: rgb(233, 233, 233); */
    /*border-bottom: 1px solid rgba(117,76,240,0.2);*/
    color: rgba(117,76,240,1);
    font-weight: lighter;
    color: gray;
}

.table_btn{
    margin: 0 5px;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid rgb(9, 139, 9, 1);
    color: rgb(9, 139, 9, 1);
    background-color: rgb(9, 139, 9, 0.1);
    /* background-color: rgba(117,76,240,0.1); */
    /* -webkit-box-shadow: 4px 4px 4px -3px rgba(102, 101, 101,1);
    -moz-box-shadow: 4px 4px 4px -3px rgb(102, 101, 101,1);
    box-shadow: 4px 4px 4px -3px rgb(102, 101, 101,1); */
    /* font-weight: 700; */
}
.delete {
    background-color:rgb(185, 45, 45, 0.1);
    color: red;
    /* border:1px solid rgb(7, 7, 7); */
    border: 1px solid red;;
}
tbody tr:last-child td:first-child{
    border-bottom-left-radius:4px;
}
tbody tr:last-child td:last-child{
    border-bottom-right-radius:4px;
}
tbody tr:last-child{
    border-top: 2px dashed lightgray;

}
tbody tr:nth-child(even){
    background: rgba(117,76,240,0.1);
}
tbody tr:last-child td{
    text-decoration: underline;
    padding: 10px 0;
}

.credit{
    color: green;
    font-weight: bold;
}
.debit{
    color: red;
    font-weight: bold;
}
.diff{
    font-weight: bold;
}

.small_user_icon{
    width: 30px;
    opacity: 0.4;
    margin-left: 15px;
    

}
.add{
    background-color: rgba(21, 185, 177, 0);
    border: 1px solid white;;
    color:white;
}
.aside_button{
    width: 100%;
    margin: 10px 0;
    
}
#openAside:hover{
    cursor: pointer;
}
#pop_up_section1, #pop_up_section2, #pop_up_section3, #pop_up_section4, #pop_up_section5{
    display:none;
}
/* ---------------- */
/* Cash Register */
/* ---------------- */
.paginator{
    display:flex;
    flex-direction: row;
    justify-content: center;   
    margin: 15px 0 5px 0;     
}
.paginator div{
    margin: 0 20px;
}
.btn_disabled, .btn_enabled{
    padding: 5px; 
    background-color: rgb(117,76,240,0.1);  
    border:1px solid rgba(117,76,240,0.3);                     
}
.btn_disabled{
    background: white;
    color: white;
}


/* ----------------------------------------------*/
/* ----------------------------------------------*/


@media only screen and (min-width: 650px) {
    #pop_up{
        width: 50%;
    }
    .menu_grid{
        width: 40%;
    }
    #login_form_wrapper{
        width: 50%;
    }
    .table_users{
        width: 60%;
    }
    th, td{
        font-size: 18px;
    }
    h3{
        font-size: 20px;
        padding-top: 0;
    }
    
  }


