*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Mulish', sans-serif;
    
    
}



/***** ALL FONTS **********/

/* font-family: 'Montserrat', sans-serif;
font-family: 'Mulish', sans-serif; */

/*************************************************************/
/************************ MOBILE *****************************/
/*************************************************************/

h1,h2,h6{
    
    font-weight: 400;
    color: #754cf0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
}  
h1{
    margin: 15px;
    font-weight: 400;
    background-color:transparent;
    /* color:#7763aa; */
    /* opacity: 0.8; */
}
h6{
    color: #7763aa;
    padding-top: 5px;
}
h2{
    
    margin-top: 15px;
    font-family: 'Mulish', sans-serif;
    font-weight:600;
}
h3{
    color: rgb(117,76,240,1);
    font-size: 15px;
    padding-top: 5px;
}
hr{
    opacity: 0.3;
    border-style:none;
    color: rgba(117,76,240);
    height: 0.5px;

    margin-top: 5px;
}

p{
    color:#754cf0;
    font-size: 18px;
    text-align: center;
}
button:hover{
    cursor: pointer ;
    opacity: 0.6;
    transition: 0.3s;
}
a:hover{
    cursor: pointer ;
    opacity: 0.6;
    transition: 0.3s;
}
header {
    background-color: #754cf0;
    
    /* background-color: lightgrey; */
    
}
.header_items{
    display: flex;
}

.header_items div:first-child{
    width: 60%;
    
}
.header_items div:nth-child(2){
    width: 40%;
    
  
}
.add{
    width: 40px;
    position: relative;
    top: 10px;
    
}
.remove{
    width: 40px;
    position: relative;
    top: 7px;
    cursor: pointer;
}  
.remove:hover {
 opacity: 0.7;
}



.spacer{
    height: 50px;
    background-color: #754cf0;
    margin: 20px 0 70px;
}

aside{
    border-top: 1px solid black;
    position:absolute;
    width: 0px;
    /* height:calc(100% - 115px); */
    background: white;
    overflow: hidden;
    padding: 0px;
    background: white;
    -webkit-box-shadow: 0px 0px 17px -3px rgba(117,76,240,1);
    -moz-box-shadow: 0px 0px 17px -3px rgba(117,76,240,1);
    box-shadow: 0px 0px 17px -3px rgba(117,76,240,1);
    z-index: 1000;
    
    
}
.asideOpener{
    width: 80px;
    height: 80px;
    margin: auto;
    padding: 10px;
   
    
}
#menu_icon{
    width: 70px;
    margin:10px 10px;
    opacity: 0.5;
}
#log_out{
    opacity: 0.6;
    color:black;
    padding: 5px 10px;
    border: 4px solid rgb(37, 36, 53);
    float:right;
    margin: 15px;
    /* display: inline-block; */

}




.title{

    overflow:hidden;

}
.form_wrapper{
    
    margin:25px auto 20px;
    width: 70%;
}

.form_wrapper button{
    margin:  20px auto;
    
}
.form-wrapper-edit{
    margin-top: 30px;
}
input, select, textarea{
    border: 0.5px solid#754cf0;
    border-radius: 5px;
    background: white;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    -moz-box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    color: #7763aa;
    font-size: 12px;
}

/* input[type=text], input[type=password],input[type=email], select, textarea{
    border: 0.5px solid#754cf0;
    border-radius: 5px;
    background: white;
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    -moz-box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    color: #7763aa;
    font-size: 12px;
} */
input[type=file]::-webkit-file-upload-button {
    
    padding: .2em .4em;
    border-radius: .2em;
    border: 1px solid rgb(9, 139, 9, 1);
    color: white;
    background-color: rgb(9, 139, 9, 1);
    transition: 1s;
  }
  
input[type=file]::file-selector-button {

padding: .2em .4em;
border-radius: .2em;
border: 1px solid rgb(9, 139, 9, 1);
color: white;
background-color: rgb(9, 139, 9, 1);
transition: 1s;
}
input[type=file]:hover {

    background-color: rgb(204, 192, 241);
    transition: 0.5s;
    }
input:focus{

    background: #dbd0f8;
    color: #7763aa;

}
.input_field_wrapper{
    width:100%;
    margin: auto;
}
#input_field_wrapper_img{
    margin: 20px 0;
}
label{
    text-align: left;
    color:#754cf0;;
    padding: 10px 0;
    margin: 10px 0;
    font-size: 10px;
}
.btn{
    background: #754cf0;;
    border: 1px solid#754cf0;
    border-radius: 20px;
    width: 100%;
    padding: 5px 5px;

    color:white;
    -webkit-box-shadow: 0px 0px 17px -3px rgba(117,76,240,1);
    -moz-box-shadow: 0px 0px 17px -3px rgba(117,76,240,1);
    box-shadow: 0px 0px 17px -3px rgba(117,76,240,1);

}
.add_img{
    margin: 20px 0 20px;
}


footer{
    background-color: #754cf0;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    padding: 20px;
}
footer p {
    
    color: #b8b6bd;
    width: 100%;
    margin: auto;
}
#pop_up{
    position: absolute;
    width: 90%;
    height: auto;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    background: white;
    -webkit-box-shadow: 0px 0px 17px -3px rgba(117,76,240,1);
    -moz-box-shadow: 0px 0px 17px -3px rgba(117,76,240,1);
    box-shadow: 0px 0px 17px -3px rgba(117,76,240,1);
    display: none;
    
    

}
#slide_down{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width:80%;
    top: -200px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    -moz-box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    display: inline-flex;
    background-color: white;
    padding: 20px;
    opacity: 0;
}
#slide_down_button_wrapper{
    margin:auto;
    border: 0.5px solid#754cf0;
    border-radius: 5px;
    padding: 50px;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    -moz-box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    
}
#slide_down_button_wrapper button{
    margin: 0 10px;
}
/* #pop_up_titulek{
    display: flex;
} */
#pop_up_titulek div{
    border-bottom: 1px solid rgba(117,76,240,0.5);
    padding-bottom: 10px;
}
#pop_up_titulek{
    text-align: center;
}

#pop_up_titulek img, #closeAside,#closePopUpWindow{
    /* position:relative; */
    /* left: 270px;
    bottom:60px; */
    width: 30px;
    margin: 15px auto;
    opacity: 0.7;
    text-align: center;
    
}
#closePopUpWindow{
   display: block;
   margin: 15px auto;
}




.error{
    color: #b92bf1; 
}
.polygon{
    width: 90%;
    margin: auto;
}


/************ PRINCIPAL ******************/
.line{
    height: 1px;
    background-color: lightgrey;
    margin: 20px;
}
.menu_grid{
    display: grid;
    grid-template-columns: 45% 45%;
    /* column-gap: 15px; */
    row-gap: 25px;
    margin: 30px auto ;
    
    justify-content: center;
    justify-items: center;
}
.menu_grid img{
    opacity:0.7;
}
.menu_grid_item{
    width: 80%;
    border:4px solid white;
    padding: 10px;
    background-color: rgb(240, 239, 239);
    -webkit-box-shadow: 0px 0px 20px -3px rgba(0, 0, 0,1);
    -moz-box-shadow: 0px 0px 20px -3px rgba(0, 0, 0,1);
    box-shadow: 0px 0px 20px -3px rgb(0, 0, 0);
    border-radius: 9px;
}
.pbl{
    background-color: #94ca6d;
    -webkit-box-shadow: 0px 0px 20px -3px #000000;
    -moz-box-shadow: 0px 0px 20px -3px #000000;
    box-shadow: 0px 0px 20px -3px #000000;
}
.menu_grid_item:hover{
    border: 8px solid #754cf0;
}


.container_principal{
    /* background-color: lightgrey; */
    /* background-color: lightgrey; */
    padding:30px 0;
    border-top: 1px solid rgb(8, 8, 8);
    min-height: 600px;
    /* -webkit-box-shadow: 0px -10px 23px 0px rgba(151, 150, 150,1);
-moz-box-shadow: 0px -10px 23px 0px rgba(151, 150, 150,1);
box-shadow: 0px -10px 23px 0px rgb(151, 150, 150); */

}
.apartment_list_wrapper{
    padding: 20px;
    
}
/* .edit_apt_imgs-form-wrapper{
    border-bottom: 20px solid green;
    padding-bottom: 70px;
} */




/************ USERS ******************/
table {
    
    border-collapse: collapse;
    margin: 50px auto;
    border-radius:4px;
    border:0px solid white;
    width: 95%;
    /* padding: 10px; */
    /* background-color: rgb(240, 239, 239); */
    -webkit-box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    -moz-box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    
    
}

th, td{
    padding: 5px 1px;
    font-size: 10px;
    text-align:center;
}

th{
    
    /* border-bottom:3px solid white; */
    background-color:rgba(117,76,240,1);
    border:none;
    
    
}
td{
    /* border-bottom:1px solid white; */
    /* background-color: rgb(233, 233, 233); */
    /*border-bottom: 1px solid rgba(117,76,240,0.2);*/
    color: rgba(117,76,240,1);
    font-weight: lighter;
    color: gray;
}

.table_btn{
    margin: 0 2px;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid rgb(9, 139, 9, 1);
    color: white;
    background-color: rgb(9, 139, 9, 1);
    font-size: 10px;
    /* background-color: rgba(117,76,240,0.1); */
    /* -webkit-box-shadow: 4px 4px 4px -3px rgba(102, 101, 101,1);
    -moz-box-shadow: 4px 4px 4px -3px rgb(102, 101, 101,1);
    box-shadow: 4px 4px 4px -3px rgb(102, 101, 101,1); */
    /* font-weight: 700; */
}

.delete {
    background-color:rgb(185, 45, 45, 1);
    color: white;
    /* border:1px solid rgb(7, 7, 7); */
    border: 1px solid rgb(185, 45, 45, 1);
}
tbody tr:last-child td:first-child{
    border-bottom-left-radius:4px;
}
tbody tr:last-child td:last-child{
    border-bottom-right-radius:4px;
}
tbody tr:last-child{
    border-top: 2px dotted lightgray;

}
tbody tr:nth-child(even){
    background: rgba(117,76,240,0.1);
}
tbody tr:last-child td{
    text-decoration: underline;
    padding: 10px 0;
}

.credit{
    color: green;
    font-weight: bold;
}
.debit{
    color: red;
    font-weight: bold;
}
.diff{
    font-weight: bold;
}

.small_user_icon{
    width: 30px;
    opacity: 0.4;
    margin-left: 15px;
    

}
.addUser{
    background-color: rgba(21, 185, 177, 0);
    border: 1px solid white;;
    color:white;
}
.aside_button{
    width: 100%;
    margin: 10px 0;
    
}
#openAside:hover{
    cursor: pointer;
}
#pop_up_section1, #pop_up_section2, #pop_up_section3, #pop_up_section4, #pop_up_section5{
    display:none;
}

/*********** Cash Register ********************/

.paginator{
    display:flex;
    flex-direction: row;
    justify-content: center;   
    margin: 15px 0 5px 0;     
}
.paginator div{
    margin: 0 20px;
}
.btn_disabled, .btn_enabled{
    padding: 5px; 
    background-color: rgb(117,76,240,0.1);  
    border:1px solid rgba(117,76,240,0.3);                     
}
.btn_disabled{
    background: white;
    color: white;
}
/* ********GRAPHS *****************/
#chartGrid{
    display:grid;
    grid-template-columns: 1fr;
    margin:auto;
}
.chart_section{
    width: 300px;
    margin: auto;
    align-items: center;
    
}
.chartYear div{
    
    margin: center;
    
}
.chartYear{
    width: 60%;
    margin:  0 auto 30px;
}
.chartYear input{
    text-align: center;
    font-weight: bold;
}
/* ******** APPARTMENTS *****************/

#fotos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    
}
.grid-item{
        width:100%;
        align-self: center;
     
        padding: 2px;
}
.grid-item img{
    width:100%;
}

.form-wrapper-edit{
    display: grid;
    grid-template-columns: 1fr;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    -moz-box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    margin-bottom: 50px;
    
    
}
.form-wrapper-edit>div:first-child{
 background-color: rgba(230, 224, 250, 0.3);  
}
.form-wrapper-edit>div{
    padding: 15px;
}

 
.form-wrapper-edit-grid-item2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto; 
    /* column-gap: 5px;
    row-gap: 5px; */
   
}

.apt_img {
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    -moz-box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
    box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
}
.img-wrapper-edit{
    padding: 5px;
    position: relative;
    
}
.delete_img{
    width: 20px;
    position: absolute;
    right: 0;
    top: -5px;
    cursor: pointer;

}
#openAddAptPopUp:hover{
   opacity: 0.7;
    cursor: pointer;
}
#addAptPopUp{
    width: 95%;
    -webkit-box-shadow: 0px 0px 17px -3px rgba(117,76,240,1);
    -moz-box-shadow: 0px 0px 17px -3px rgba(117,76,240,1);
    box-shadow: 0px 0px 17px -3px rgba(117,76,240,1);
    background-color: rgb(240, 238, 248);
    /* height: 95vh; */
    z-index:6000;
   

}
.aptAdd{
    border: 4px solid rgba(117,76,240);
    padding-bottom: 10px;
    width: 270px;
    margin: auto;
    border-radius: 50px;
    
}
.closed{
    left: -100%;

    position: absolute;
    
    
   
}

.popupIsOpen{
    top: 10px;
    position: absolute;
    left: 50%;
   

    transform: translateX(-50%); 
    animation-duration: 1s;
    animation-name: slide;
    /* animation-iteration-count: infinite; */
 
    

}
@keyframes slide {
    from {  left: -100%; }
    to {left: 50%; }
  }

/* ---------------- BYTY --------------------- */
.container_public{
    /* background-color: #E8E9EB; */
    height: 100vh;
    
}
#byty_mobile{
    margin-top: 50px;
    /* background-color: #E8E9EB; */
}
.byt_wrapper{
    display: block;
    /* background-color: #E8E9EB; */
}
.pictureSlide{
    /* border: 1px solid gray; */
    /* border-radius: 10px; */
    width: 90%;
    margin: auto;
    /* position: static; */
    /* -webkit-box-shadow: 0px 0px 17px -3px rgb(5, 5, 5,1);
    -moz-box-shadow: 0px 0px 17px -3px rgba(5, 5, 5,1);
    box-shadow: 0px 0px 17px -3px rgba(5, 5, 5,1); */
}
.large_image{
    display: none;
    width: 70%;
    margin: auto;
}
.large_image img{
    width: 100%;
}

.pictureSlide img{
    width: 240px;
    background-color: rgb(211, 211, 211);
}
#footer_public{
    display: none;
    position: absolute;
    bottom: 0;
    background-color: #404040;
    z-index:6001;
    margin-top: 300px;
}
#header_public{
   
    width: 100%;
    background-color: #404040;
    padding: 10px 0;
}
.slick-arrow{
    background-color: rgb(5,5,5);
   
    width: 30px;
    height: 30px;
    z-index: 2000;
    
}
.slick-arrow{
    display:none;
}
.h2_public{
    margin: 0;
    padding: 20px 0;
    color: #404040;
    background: white;
}
.h3_public{
    margin: auto;
    padding: 20px 0;
    color: #404040;
}
.top_section_byty{
    position: relative;
}
.byt_info_wrapper{
    width: 80%;
    display:flex;
    flex-direction: column;
    /* flex-wrap: wrap;  */
    
    /* width: 30%; */
    margin: 15px auto ;
    /* background-color: white; */
    margin-bottom:50px;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: #ecc2b8;

}
.container_public p{
    color:#404040;
    text-align: left;
    
}
.bold{
    font-weight: bold;
}











/* ----------------------------------------------*/
/* ----------------------------------------------*/


@media only screen and (min-width: 650px) {
    #pop_up{
        width: 50%;
    }
    .menu_grid{
        width: 40%;
    }
    #login_form_wrapper{
        width: 50%;
    }
    .table_users{
        width: 60%;
    }
    th, td{
        font-size: 18px;
    }
    h3{
        font-size: 20px;
        padding-top: 0;
    }
    .table_btn{
        margin: 10 5px;
        padding: 10px 5px;
       
        /* background-color: rgba(117,76,240,0.1); */
        /* -webkit-box-shadow: 4px 4px 4px -3px rgba(102, 101, 101,1);
        -moz-box-shadow: 4px 4px 4px -3px rgb(102, 101, 101,1);
        box-shadow: 4px 4px 4px -3px rgb(102, 101, 101,1); */
        /* font-weight: 700; */
    }input, select{
        border: 0.5px solid#754cf0;
        border-radius: 5px;
        background: transparent;
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        -webkit-box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
        -moz-box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
        box-shadow: 0px 0px 10px -3px rgba(117,76,240,1);
        color: #7763aa;
        font-size: 16px;
    }
    label{
        
        font-size: 16px;
    }
    #menu_icon{
        width: 80px;
        margin:15px 20px;
        opacity: 0.5;
    }
    /* #log_out{
        color:black;
        padding: 20px;
        border: 1px solid black;
        float:right;
    
         margin: 25px;
        
        
    
    } */
    #log_out{
        opacity: 0.6;
        color:black;
        padding: 15px 10px;
        border: 4px solid rgb(37, 36, 53);
        float:right;
        margin: 30px;
        /* display: inline-block; */
    
    }
    /* ============ 
        Chart 
     ============ */


    .chartYear{
        width: 30%;
        margin:  0 auto 30px;
    }
    .chart_section{
        width: 80%;
    }
    #chartGrid{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    /* ==============
    APARTMENTS
    =============== */
    .apartment_list_wrapper{
        width: 70%;
        margin: auto;
    }
     .form-wrapper-edit{
        display: grid;
        grid-template-columns: 50% 50%;
        /* column-gap: 30px;
        row-gap: 30px; */
    }

     
    .form-wrapper-edit-grid-item2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: auto; 
        column-gap: 3px;
        row-gap: 0px;
    }
    
    .apt_img{
        width: 100%;
    }
    .delete_img{
        width: 20px;
        right: 0px;
        ;
        
    }
    #addAptPopUp{
        width: 70%;
    
    }


    /* ================
    BYTY
    ================
    */
    .byt_wrapper{
        border-bottom: 1px solid lightgrey;
        margin: 0 auto 50px;
        width: fit-content;
        
    }
    .large_image{
        display: block;
        width: 500px;
        margin: auto;
    }
    .large_image img {
        width: 500px;

    }
    .byt_info_wrapper{
        position: absolute;
        left: 0px;
        display:flex;
        flex-direction: column;
        width: 200px;
        margin: 15px auto ;
        margin-bottom:120px;
        padding: 15px;
        border: 1px solid lightgray;
        border-radius: 10px;
        background-color: #ecc2b8;
    
    }
    .pictureSlide{
        width: 900px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 150px;

    }
    .pictureSlide img{
        width: 245px;
    }
    
  }


