<div class="container_principal">
    <h2>Pokladna - <span id="pokladna_total" class="total"></span> Kč</h2>
    <div class="asideOpener">
        <img id="openAside" onclick="openAside('#openAside');" src="../Resource/images/icons/save-money.svg" alt="">
    </div>
    <div id="month_nav">
        
    </div>
    <table id="table_transactions">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Datum
                </th>
                <th>
                    Uživatel
                </th>
                <th>
                    Vklad
                </th>
                <th>
                    Výdaj
                </th>
                <th>
                    
                </th>
            </tr>
        </thead>
        <tbody id="table_trans_body">

        </tbody>

    </table>
    
</div>