<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>

    <link rel="stylesheet" href="http://localhost/HomeManagementSystem/System/Resource/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600&family=Mulish:ital,wght@0,200;0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="file-upload-with-preview.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    
    
    
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>

    <script src="http://localhost/HomeManagementSystem/System/Resource/js/animations.js" type="text/javascript"></script>
    <script src="http://localhost/HomeManagementSystem/System/Resource/js/config.js" type="text/javascript"></script>
    <script src="http://localhost/HomeManagementSystem/System/Resource/js/functions.js" type="text/javascript"></script>
    <script src="http://localhost/HomeManagementSystem/System/Resource/js/Uploadpicture.js" type="text/javascript"></script>
    <script src="http://localhost/HomeManagementSystem/System/Resource/js/User.js" type="text/javascript"></script>
    <script src="http://localhost/HomeManagementSystem/System/Resource/js/CashRegister.js" type="text/javascript"></script>
    <script src="http://localhost/HomeManagementSystem/System/Resource/js/Graphs.js" type="text/javascript"></script>
    <script src="http://localhost/HomeManagementSystem/System/Resource/js/Apartments.js" type="text/javascript"></script>
    <script src="http://localhost/HomeManagementSystem/System/Resource/js/Byty.js" type="text/javascript"></script>
    <script src="http://localhost/HomeManagementSystem/System/Resource/js/slides.js" type="text/javascript"></script>
    <script src="http://localhost/HomeManagementSystem/System/Resource/js/app.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chartjs-node-plugin-colorschemes@1.2.0/src/index.min.js"></script>
    
    

   
    
</head>
<body>
    

    
    
