<body>
    <header>
        <div class="header_items">
            <div class="header item">
                <img onclick="goMenu();" src="../Resource/images/icons/menu.svg" id="menu_icon" alt="">
            </div>
            <div class="header_item">
                <a onclick="sessionClose();" id="log_out">Log out</a>
            </div>
        </div>
        
        
        
    </header>
    <aside class="aside" id="aside">
        <center>
            <img id="closeAside" onclick="closeAside('#aside');" src="../Resource/images/icons/close.svg" alt="">
        </center>
        <div id="asideWrapper">
            
        </div>

    </aside>