<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600&family=Mulish:ital,wght@0,200;0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="http://localhost/HomeManagementSystem/System/Resource/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>
    <script src="http://localhost/HomeManagementSystem/System/Resource/js/animations.js" type="text/javascript"></script>
    <script src="http://localhost/HomeManagementSystem/System/Resource/js/config.js" type="text/javascript"></script>
    <script src="http://localhost/HomeManagementSystem/System/Resource/js/functions.js" type="text/javascript"></script>
    <script src="http://localhost/HomeManagementSystem/System/Resource/js/Uploadpicture.js" type="text/javascript"></script>
    <script src="http://localhost/HomeManagementSystem/System/Resource/js/User.js" type="text/javascript"></script>
    <script src="http://localhost/HomeManagementSystem/System/Resource/js/CashRegister.js" type="text/javascript"></script>
    <script src="http://localhost/HomeManagementSystem/System/Resource/js/app.js" type="text/javascript"></script>


    
</head>
<body>
    <header>
        <div class="header_items">
            <div class="header item">
                <img onclick="goMenu();" src="http://localhost/HomeManagementSystem/System/Resource/images/icons/menu.svg" id="menu_icon" alt="">
            </div>
            <div class="header_item">
                <a onclick="sessionClose();" id="log_out">Log out</a>
            </div>
        </div>
        
        
        
    </header>
    <aside class="aside" id="aside">
        <center>
            <img id="closeAside" onclick="closeAside('#aside');" src="../Resource/images/icons/close.svg" alt="">
        </center>
        <div id="asideWrapper">
            
        </div>

        <!-- <form action="">
            <input type="text" name="" id="">
            <input type="text" name="" id="">
            <input type="text" name="" id="">
            <input type="text" name="" id="">
            <input type="text" name="" id="">
            <input type="text" name="" id="">
        </form> -->
    </aside>
     
    
    
