     <div class="container_principal">
         <!-- <h2>Menu</h2> -->
        <div class="menu_grid">

           


           <div class="menu_grid_item">
                <img src="../Resource/images/icons/living_room.svg" alt="">
            </div>
            <div class="menu_grid_item">
                <img src="../Resource/images/icons/cash.svg" alt="">
            </div>
            <div class="menu_grid_item">
                <img src="../Resource/images/icons/.svg" alt="">
            </div>
            <div onclick="getUsers();" class="menu_grid_item">
                <img src="../Resource/images/icons/users.svg" alt="">
            </div>

            
        </div>
    </div>
    