     <div class="container_principal">
         <!-- <h2>Menu</h2> -->
         <h2>Admin</h2>
        <div class="menu_grid">

           <div onclick="apartments();"class="menu_grid_item">
                <img src="../Resource/images/icons/living_room.svg" alt="">
            </div>
            <div onclick="cashRegister();" class="menu_grid_item">
                <img src="../Resource/images/icons/cash.svg" alt="">
            </div>
            <div onclick="getGraphs();" class="menu_grid_item">
                <img src="../Resource/images/icons/chart.svg" alt="">
            </div>
            <div onclick="getUsers(1);" class="menu_grid_item">
                <img src="../Resource/images/icons/users.svg" alt="">
            </div>
            
        </div>
        <div class="line"></div>
        <h2>Public</h2>
        <div class="menu_grid">

        
            <div onclick="byty();"class="menu_grid_item pbl">
                 <img src="../Resource/images/icons/living_room.svg" alt="">
             </div>
             
             
         </div>
    </div>
    