<div class="container_principal">
    <h2>Uživatelé</h2>
    <div>
        
    </div>
    
    <table class="table_users">
        <thead>
            <tr>
                <th>ID</th>
            
            
                <th>Jméno</th>
            
           
                <th>Přijmení</th>
            
            
                <th>Role</th>
            
            
                <!-- <th>Telefon</th>
            
            
                <th>Email</th> -->
                
                <th > 
                   
                    <button id="add_user_button" class='table_btn addUser' onclick='addUser();'>Přidat Uživatele </button>
                        
                </th>
                
            </tr>
        </thead>
        <tbody id="table_result">

        </tbody>
    </table>
    
</div>
