<div class="container_public">

    <h2 class="h2_public">Byty</h2>
  
    <div id="byty_mobile">
<!-- ---------------------------------------------------------------------------- -->
        <div class="byt_wrapper">

            <div class="top_section_byty">

                <div class="byt_info_wrapper">
                    <span class="bold">Byt 1</span>
                    <span>Bruntal</span>
                    <span>Kratka 4</span>
                    <span>Obsazeno</span>
        
                </div>

                <div class="large_image">
                    <img src="../Resource/images/photos/images/Honda.jpg" alt="">
                </div>

            </div>

            <div class="pictureSlide">
                <div><img class="byt_image" src="../Resource/images/icons/living_room.svg" alt=""></div>
                <div><img class="byt_image" src="../Resource/images/icons/cash.svg" alt=""></div>
                <div><img class="byt_image" src="../Resource/images/icons/chart.svg" alt=""></div>
                <div><img class="byt_image" src="../Resource/images/icons/users.svg" alt=""></div>
                <div><img class="byt_image" src="../Resource/images/icons/user.svg" alt=""></div>
                <div><img class="byt_image" src="../Resource/images/icons/pay.svg" alt=""></div>
            </div>
           
        </div>
<!-- ---------------------------------------------------------------------------- -->

<!-- ---------------------------------------------------------------------------- -->
<div class="byt_wrapper">

    <div class="top_section_byty">

        <div class="byt_info_wrapper">
            <span class="bold">Byt 1</span>
            <span>Bruntal</span>
            <span>Kratka 4</span>
            <span>Obsazeno</span>

        </div>

        <div class="large_image">
            <img src="../Resource/images/photos/images/Honda.jpg" alt="">
        </div>

    </div>
    
    <div class="pictureSlide">
        <div><img class="byt_image" src="../Resource/images/icons/living_room.svg" alt=""></div>
        <div><img class="byt_image" src="../Resource/images/icons/cash.svg" alt=""></div>
        <div><img class="byt_image" src="../Resource/images/icons/chart.svg" alt=""></div>
        <div><img class="byt_image" src="../Resource/images/icons/users.svg" alt=""></div>
        <div><img class="byt_image" src="../Resource/images/icons/user.svg" alt=""></div>
        <div><img class="byt_image" src="../Resource/images/icons/pay.svg" alt=""></div>
    </div>
   
</div>

        
        

    </div>
    <div id="byty_desktop">

    </div>
</div>