    <div class="container login_page">
        <div class="title">
            <h1 id="hms">HMS</h1>
            <h6>Home Management System</h6>
            <hr>
            
        </div>
            
            <h2>Login</h2>


        <div class="form_wrapper" id="login_form_wrapper">

            <form  method="post" class="login_form">

                <div class="input_field_wrapper">
                    <label for="login_email" class="login_label" >Uzivatelske jmeno</label>
                    <!-- <br> -->
                    <input id="login_email" type="email" name="email" required>
                </div>

                <div class="input_field_wrapper">
                    <label for="login_password" class="login_label">Heslo</label>
                    <!-- <br> -->
                    <input id="login_password" type="password" name="password" minlength="6" maxlength="20" required>
                </div>
                <label class="error message" id="login_error_message"></label>
                
            </form>
            <button id="login_button" class="btn" onclick="loginUser();">Send</button>
            
  
        </div>
        <!-- <div class="polygon">

            <svg class="shape1" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 227.5 32.5"><defs><style>.cls-1{fill:#fff;stroke:#754cf0;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><title>Polygon</title><polyline class="cls-1" points="222.75 5.25 168.13 28.25 113.5 5.25 58.88 28.25 4.25 5.25"/><circle class="cls-1" cx="59.75" cy="27.75" r="4.5"/><circle class="cls-1" cx="168.75" cy="27.75" r="4.5"/><circle class="cls-1" cx="4.75" cy="5.75" r="4.5"/><circle class="cls-1" cx="222.75" cy="4.75" r="4.5"/></svg>

            
        </div> -->
        
        
        
          
        
    </div>    
